.ex-1-square{
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: background-color 5s;
}

.ex-1-square:hover{
  background-color: red;
}

.ex-2-square{
  transition: all 3s;
}

.ex-2-square:active{
  width: 500px;
}

.ex-3-square{
  transition: border-radius 3s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square{
  transition: background-color 3s;
}

.ex-4-square:hover{
  background-color: #F5F5F5;
}

.ex-5-square{
  transition: all 3s;
}

.ex-5-square:hover{
  transform: scale(1.67);
}

.ex-6-img:hover{
  filter: grayscale(1);
}

.ex-7-img{
  filter: sepia(0);
  filter: grayscale(0);
  transition: 3s;
}

.ex-7-img:hover{
  filter: sepia(1);
  filter: grayscale(0.7);
}

.ex-8-img{
  filter: sepia(0);
  filter: grayscale(0);
  transition: 3s;
}

.ex-8-img:hover{
  border-radius: 20px;
  filter: sepia(1);
  filter: grayscale(0.7);
}

.ex-9-img{
  filter: sepia(0);
  filter: grayscale(0);
  transition: 3s;
}

.ex-9-img:hover{
  transform: scale(1.5);
  border-radius: 20px;
  filter: sepia(1);
  filter: grayscale(0.7);
}

.ex-10-icon{
 animation: rotazione 4s linear infinite;
}

@keyframes rotazione{
  0% {
    transform: rotate(360deg);
  }
}

.ex-11-icon:hover{
  animation: trequarti 2s linear;
 }
 
 @keyframes trequarti{
    0% {
     transform: rotate(0deg);
   }

    50% {
    transform: rotate(280deg);
  }

    100% {
    transform: rotate(0deg);
  }
 }


 .ex-12-button:hover .ex-12-top-white{
    animation: line_top 4s linear;
 }
 
 @keyframes line_top{
    0% {
     left: 10%;
   }

    50% {
      left: calc(90% - 60px);
  }

    100% {
      left: 10%;
  }
 }

  .ex-12-button:hover .ex-12-bottom-white{
    animation: line_bottom 4s linear;
 }
 
 @keyframes line_bottom{
    0% {
      right: 20%;
   }

    50% {
      right: calc(80% - 60px);
  }

    100% {
      right: 20%;
  }
 }

 .ex-13-button:hover .ex-13-top-white{
  animation: circle_top 4s linear;
}

@keyframes circle_top{
  0% {
   left: 10%;
   top: -10px;
 }

  30% {
    left: calc(110% - 60px);
    top: -10px;
}

  50% {
    left: calc(110% - 60px);
    top: calc(110% - 20px);
}

  80% {
    left: -10%;
    top: calc(110% - 20px);
}

  90% {
    left: -10%;
    top: -10px;
}

  100% {
    left: 10%;
    top: -10px;
}
}

.ex-13-button:hover .ex-13-bottom-white{
  animation: circle_bottom 4s linear;
}

@keyframes circle_bottom{
  0% {
   right: 20%;
   bottom: -10px;
 }

  30% {
    right: calc(110% - 60px);
    bottom: -10px;
}

  50% {
    right: calc(110% - 60px);
    bottom: calc(110% - 20px);
}

  80% {
    right: -20%;
    bottom: calc(110% - 20px);
}

  90% {
    right: -20%;
    bottom: -10px;
}

  100% {
    right: 20%;
    bottom: -10px;
}
}